/* Background */
.menu-bg{
  background-color: black;
}
/* Container menu */
.container-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 0 5rem;
}
/* Logo menu */
.logo-menu a{
  color: var(--cor-0);
  text-decoration: none;
  font-family: 'Poppins', sans-serif !important;
}
/* Menu / Items Menu */
.menu{
  background-color: black;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 5rem;
  padding: 2rem;
}
.text-menu a{
  color: var(--cor-0);
  text-decoration: none;
}
.text-menu a:hover{
  text-decoration: underline;
}