/* Background */
.depoimentos-bg{
  background-color: var(--cor-p1);
}
/* Container */
.container-depoimentos{
  display: flex;
  justify-content: center;
}
.image-depoimento {
  width: 100%;
  max-height: 520px;
}
.image-depoimento img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0;
}
.card-depoimento{
  background-color: var(--cor-p1);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  width: 100%;
  gap: 1.5rem;
  box-sizing: border-box;
  padding: 40px 40px 80px 80px;
  align-self: end;
  background: url(./assets/images/bottom-left.svg) no-repeat bottom 40px right 40px;
}
.desc-depoimento p{
  max-width: 32ch;
  font-family: "Merriweather", serif;
  font-style: italic;
  font-weight: 900;
  margin-bottom: 32px;
  position: relative;
}
.desc-depoimento p::before,
.desc-depoimento p::after {
  font-size: 5rem;
  color: var(--cor-p2);
  position: absolute;
}
.desc-depoimento p::before {
  content: "“";
  left: -50px;
  top: -20px;
}
.desc-depoimento p::after {
  content: "”";
}
.pessoa-depoimento{
  color: var(--cor-p4);
  font-family: 'Poppins', serif;
  font-size: 1.2rem;
  font-weight: bolder;
}
@media screen and (max-width: 767px){
    .container-depoimentos {
      flex-direction: column;
  }
  .image-depoimento {
    width: 100%;
    max-height: 100%;
    height: 250px;
  }
}