/* background */
.faq-bg{
  background-color: rgb(255, 255, 255);
}
/* Container */
.container-faq{
  padding: 6rem 0;
}
/* Faq */
.card-faq{
  margin-top: 30px;
  border: 2px solid black;
  padding: 1rem;
  border-radius: 10px;
  cursor: pointer;
}
.card-faq-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.card-faq-desc{
  padding-top: 1rem;
}
summary::before{
  content: '▄';
  font-size: 1rem;
  font-weight: 900;
  color: var(--cor-p2);
  bottom: 5px;
}
summary::marker {
  content: '';
}
summary p {
  width: 69vw;
}
summary i {
  transform: rotate(180deg);
  transition: all .20s ease-in;
}
summary i:hover {
  transform: rotate(0deg);
}
details[open] > summary i:hover{
  transform: rotate(180deg);
}